<p>La homologaci&oacute;n realizada por el <em>RCB</em>, de los servicios, productos y laboratorios tienen gran importancia ya que son el soporte de la evaluaci&oacute;n de la conformidad, respaldando el criterio evaluativo de los inspectores en &aacute;mbitos de tanto rigor como en la construcci&oacute;n y reparaci&oacute;n naval, automotor y ferroviaria.</p>

<p>La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de servicios de laboratorios de ensayo se soporta en:</p>

<ul>
	<li>Norma ISO/IEC 17025 &ldquo;Requisitos generales para la competencia de los laboratorios de ensayo y calibraci&oacute;n&rdquo;.</li>
	<li>Reglas para la Construcci&oacute;n y Clasificaci&oacute;n de Buques Mar&iacute;timos.</li>
	<li>P C4-01 Procedimiento para la evaluaci&oacute;n de la conformidad de productos servicios y personal calificado.</li>
	<li>Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
	<li>Cap&iacute;tulo 1.1 Generalidades.</li>
</ul>

<p><strong>El </strong><em>RCB</em> <strong>recomienda previo a la contrataci&oacute;n de servicios y productos homologados revisar:</strong></p>

<ul>
	<li><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de dos a&ntilde;os.</strong></li>
</ul>

<p><strong>El alcance del servicio, producto o laboratorio homologado (ensayos, materiales, productos, m&eacute;todos de ensayo, equipos&nbsp; y otros).</strong></p>
