<p style="text-align: justify;">El <em>RCB</em> realiza la inspecci&oacute;n y certificaci&oacute;n a medios de izado en nombre de la Administraci&oacute;n Cubana y de acuerdo con lo establecido por el Convenio N&ordm; 152 &ldquo;Sobre Seguridad e Higiene en los Trabajos Portuarios&rdquo; de la Organizaci&oacute;n Internacional del Trabajo, Resoluci&oacute;n 293/14 Reglamento para la explotaci&oacute;n de los medios de izado, del MITRANS.</p>

<p style="text-align: justify;">El <em>RCB</em> es el &uacute;nico &oacute;rgano en Cuba reconocido para inspeccionar y emitir los Certificados de Seguridad T&eacute;cnica a los medios de izado terrestres y dispositivos auxiliares de carga de acuerdo a la Resoluci&oacute;n 293/14 del MITRANS.</p>

<p style="text-align: justify;">Los Certificados de Seguridad T&eacute;cnica que emite el <em>RCB</em>, tienen una vigencia de 3 a&ntilde;os y atestiguan que el medio de izado posee un estado t&eacute;cnico satisfactorio, pudiendo prestar servicio durante el tiempo de vigencia del Certificado, siempre que se someta a dos inspecciones peri&oacute;dicas anuales con resultados satisfactorios.</p>

<p style="text-align: justify;">Las inspecciones anuales se realizan a solicitud del propietario del medio de izado, con anterioridad a la fecha aniversario de la expedici&oacute;n del Certificados de Seguridad T&eacute;cnica, para confirmar su validez.</p>

<p style="text-align: justify;">Durante el per&iacute;odo de validez del Certificados de Seguridad T&eacute;cnica, si el propietario deseara realizar cualquier modificaci&oacute;n, cambio, reparaci&oacute;n mayor o capital al medio de izado, o si &eacute;ste sufre alguna aver&iacute;a, deber&aacute; ser informado al <em>RCB</em>.</p>

<p style="text-align: justify;">El alcance de losCertificados de Seguridad T&eacute;cnica es para cargas y no para la elevaci&oacute;n de personal.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la la inspecci&oacute;n y certificaci&oacute;n de los medios de izados terrestres se soporta en:</p>

<ul>
	<li style="text-align: justify;">IC 04-03 Instrucci&oacute;n para la realizaci&oacute;n de inspecciones a medios de izado terrestres.</li>
	<li style="text-align: justify;">IC 04-04 Instrucci&oacute;n &nbsp;para las inspecciones t&eacute;cnicas a dispositivos auxiliares de carga.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 3.4 Cables de acero.</li>
</ul>
