h1,h2,h3{color: #0782C1 !important; font-weight: bold; margin-bottom: 0; }
h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
body, p { font-size: 11pt !important; font-family: "Calibri"; }
h4 {font-size: 12pt; margin-bottom: 0; font-family: "Calibri"; font-weight: 200;}
th, td { font-size: 10pt; font-family: "Calibri";}
th { border-bottom: 1px solid black; }