/* My Custom CSS */

.meet-our-team h3 {
    margin-bottom: 0;
    padding: 0 10px 10px;
    background: #fcfcfc;
}

.headline h3 {
    margin-bottom: 0;
    padding: 0 10px 10px;
}

.meet-our-team small {
    display:block;
    font-size:12px;
}

.meet-our-team, .team-info, .team-img {
    padding: 10px;
    overflow: hidden;
    background: #f5f5f5;
}

.news-blocks {
    padding: 10px;
    margin-bottom: 10px;
    background: #F7F7F7;
    border-top: solid 2px #faf6ea;
}

.news-blocks:hover {
    background: #fff;
    border-top-color: #78cff8;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}

.table-my td {
    vertical-align: middle;
}

li.selected a{
    background-color: #4B8DF8;
    font-weight: bolder;
    color: white;
}