<p style="text-align: justify;">La homologaci&oacute;n de buzos soldadores es considerada por el <em>RCB</em> como uno de los elementos b&aacute;sicos para garantizar la calidad en las reparaciones de embarcaciones y en las instalaciones de varada.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de buzos en varada de embarcaciones se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la Evaluaci&oacute;n de la conformidad de Productos, Servicios y Personal Calificado.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.1 Buzos Soldadores</li>
</ul>

<p style="text-align: justify;">La evaluaci&oacute;n de buzos soldadores por el <em>RCB</em> es un servicio que ha comenzado en el a&ntilde;o 2013 siendo esta la categor&iacute;a m&aacute;s compleja por la dualidad de funciones.</p>

<p style="text-align: justify;">El <em>RCB</em>&nbsp; recomienda previo a la contrataci&oacute;n de buzos soldadores homologados, revisar:</p>

<ul>
	<li style="text-align: justify;">La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</li>
	<li style="text-align: justify;">Los equipos y materiales con que cuenta el personal de acuerdo a los m&eacute;todos y t&eacute;cnicas a emplear.</li>
</ul>
