<p style="text-align: justify;">La homologaci&oacute;n de buzos especialistas para la inspecci&oacute;n subacu&aacute;tica de las instalaciones hidrot&eacute;cnicas es uno de los servicios de apoyo al trabajo de inspecci&oacute;n y obtenci&oacute;n del Certificado de Seguridad de dichas instalaciones.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de buzos en instalaciones hidrot&eacute;cnicas se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la Evaluaci&oacute;n de Productos, Servicios y Personal Calificado.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.3 Buzos en instalaciones hidrot&eacute;cnicas.</li>
</ul>

<p style="text-align: justify;">Nuestros ojos en el medio subacu&aacute;tico son&nbsp; los buzos homologados, para ello la Instrucci&oacute;n del <em>RCB</em> para estos fines exige del candidato amplios conocimientos te&oacute;ricos y pr&aacute;cticos para la ejecuci&oacute;n de las defectaciones a las instalaciones hidrot&eacute;cnicas.</p>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em> <strong>recomienda previo a la contrataci&oacute;n de los buzos en instalaciones hidrot&eacute;cnicas homologados revisar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
	<li style="text-align: justify;"><strong>El alcance del certificado, para el cual el personal queda homologado.</strong></li>
	<li style="text-align: justify;"><strong><strong>Buzos en instalaciones hidrot&eacute;cnicas</strong></strong></li>
</ul>
