<p style="text-align: justify;">La homologaci&oacute;n de buzos especialistas para la inspecci&oacute;n subacu&aacute;tica de embarcaciones y objetos flotantes es uno de los servicios de apoyo al trabajo de inspecci&oacute;n y clasificaci&oacute;n del <em>RCB</em> de mayor importancia.</p>

<p style="text-align: justify;">Este servicio del <em>RCB</em> tiene ya algunos a&ntilde;os y el personal homologado ha logrado insertarse dentro de otras actividades de inspecci&oacute;n subacu&aacute;tica, incluso en instalaciones industriales como canales de enfriamiento de centrales termoel&eacute;ctricas etc.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de buzos especialistas se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la Evaluaci&oacute;n de Productos, Servicios y Personal Calificado.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
</ul>

<ul>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.2 Buzos especialistas</li>
</ul>

<p style="text-align: justify;">Nuestros ojos en el medio subacu&aacute;tico son los buzos homologados, por ello la instrucci&oacute;n del <em>RCB</em> para estos fines, exige del candidato amplios conocimientos te&oacute;ricos y pr&aacute;cticos, haci&eacute;ndose especial &eacute;nfasis en las caracter&iacute;sticas constructivas de las embarcaciones, objetos flotantes e instalaciones industriales y los criterios de valoraci&oacute;n de da&ntilde;os y defectos en concordancia con los criterios de nuestra Sociedad.</p>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em> <strong>recomienda previo a la contrataci&oacute;n de buzos especialistas homologados revisar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
</ul>
