<p style="text-align: justify;">La homologaci&oacute;n por el <em>RCB</em> de inspectores de soldadura surge como resultado de la necesidad de asegurar que el personal t&eacute;cnico a cargo de la elaboraci&oacute;n de los procedimientos de soldadura, control t&eacute;cnico de par&aacute;metros principales, as&iacute; como el control de la calidad de las uniones soldadas se realice por personal debidamente preparado, conocedor de las exigencias del <em>RCB </em>establecidas en sus Reglas.</p>

<p style="text-align: justify;">La evaluaci&oacute;n de inspectores de soldadura por el <em>RCB</em>, se realiza de acuerdo a las exigencias de las siguientes normas, adecuadas a las caracter&iacute;sticas del trabajo del <em>RCB</em> en industrias de perfiles tan diversos como la ferroviaria, los recipientes criog&eacute;nicos y otros tomando como base de forma general la:</p>

<p style="margin-left: 36pt; text-align: justify;">1-UNE-EN 13018 &ldquo;Examen no destructivo de soldaduras por fusi&oacute;n. Examen visual&rdquo;.</p>

<p style="margin-left: 36pt; text-align: justify;">2-UNE 14618 &ldquo;Inspectores de soldadura. Cualificaci&oacute;n y Certificaci&oacute;n&rdquo;.</p>

<p style="margin-left: 36pt; text-align: justify;">3-UNE-EN ISO 5817 &ldquo;Uniones Soldadas por arco de aceros. Gu&iacute;a sobre los niveles de calidad en funci&oacute;n de las imperfecciones&rdquo;.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de inspectores de soldadura se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la evaluaci&oacute;n de la conformidad de productos, servicios y personal calificado.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>::</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.6 Inspectores de soldadura</li>
</ul>

<p style="text-align: justify;">El personal candidato a la homologaci&oacute;n requiere de:</p>

<ul>
	<li style="text-align: justify;">Amplios conocimientos en soldadura de acuerdo al nivel solicitado por este, seg&uacute;n los criterios internacionales de clasificaci&oacute;n de este personal (nivel 1; 2 &oacute; 3)</li>
	<li style="text-align: justify;">&nbsp;Preparaci&oacute;n y experiencia en la actividad.</li>
</ul>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em> <strong>recomienda previo a la contrataci&oacute;n de inspectores de soldadura homologados revisar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
	<li style="text-align: justify;"><strong>El alcance del Certificado, para el cual el inspector de soldadura est&aacute; homologado.</strong></li>
</ul>
