<p>La homologaci&oacute;n de paileros es considerada por el <em>RCB</em> como uno de los elementos b&aacute;sicos para garantizar la calidad en las construcciones y reparaciones de objetos supervisados por el mismo. Este proceso ha sido adecu&aacute;ndose a la industria en general, lo cual a obligado a realizar en cada caso un an&aacute;lisis de las caracter&iacute;sticas t&eacute;cnicas de los procesos productivos de cada una de las entidades solicitantes.</p>

<p>La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de paileros se soporta en:</p>

<ul>
	<li>P C4-01 Procedimiento para la evaluaci&oacute;n de la Conformidad de productos, servicios y personal calificado.Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado del <em>RCB</em>.</li>
</ul>

<ul>
	<li>Cap&iacute;tulo 1.1 Generalidades.</li>
	<li>Cap&iacute;tulo 5.10 Paileros.</li>
</ul>

<p>La evaluaci&oacute;n de paileros por el <em>RCB</em> es hoy un servicio que ya cuenta con un grupo de paileros homologados y con profesionales que adem&aacute;s pueden brindar el adiestramiento a los candidatos.</p>

<p><strong>El </strong><em>RCB</em><strong> recomienda previo a la contrataci&oacute;n de inspectores a medios contraincendio en buques homologados revisar:</strong></p>

<ul>
	<li><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
</ul>

<p><strong>El alcance del Certificado, para el cual el personal queda homologado.</strong></p>
