<p style="text-align: justify;">Con la entrada en vigor de la resoluci&oacute;n 382/2013 del MITRANS &ldquo;Normas complementarias para la Seguridad Vial&rdquo;, se han establecido por el MITRANS, las regulaciones necesarias para establecer las revisiones t&eacute;cnicas peri&oacute;dicas a equipos de motor para garantizar la seguridad en la v&iacute;a y la protecci&oacute;n del medio ambiente.</p>

<p style="text-align: justify;">La homologaci&oacute;n del personal t&eacute;cnico especializado que realiza las inspecciones a equipos de motor en las Plantas de Revisi&oacute;n T&eacute;cnica por el <em>RCB</em>, constituye una condici&oacute;n para el personal que ejecuta dichas inspecciones.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de personal que ejecuta la revisi&oacute;n t&eacute;cnica automotor se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la evaluaci&oacute;n de la Conformidad de Productos, Servicios y Personal Calificado.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.9 Personal y servicios en Revisi&oacute;n T&eacute;cnica Automotor</li>
</ul>

<p style="text-align: justify;">El esquema establecido por el <em>RCB</em> para la evaluaci&oacute;n de este personal incluye la aptitud f&iacute;sica, su profesionalidad, amplios conocimientos te&oacute;ricos y destreza pr&aacute;ctica.</p>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em> <strong>recomienda, previo solicitud de la homologaci&oacute;n del personal que ejecuta la revisi&oacute;n t&eacute;cnica automotor, garantizar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La formaci&oacute;n y entrenamiento te&oacute;rico-pr&aacute;ctico con los procedimientos, instrucciones y resoluciones establecidas por el MITRANS para las Plantas de Revisi&oacute;n T&eacute;cnica.</strong></li>
	<li style="text-align: justify;"><strong><strong>La vigencia del Certificado de homologaci&oacute;n, la que es de tres a&ntilde;os.</strong></strong></li>
</ul>
