<p style="text-align: justify;">La homologaci&oacute;n por el <em>RCB</em> del personal que realiza mediciones de espesor es un elemento b&aacute;sico en la determinaci&oacute;n del estado t&eacute;cnico en embarcaciones, piezas y equipos industriales. Estos trabajos permiten al <em>RCB</em> valorar el deterioro de medios y equipos en explotaci&oacute;n, consider&aacute;ndose como aspecto fundamental en la definici&oacute;n de trabajos de reparaci&oacute;n.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em> para la homologaci&oacute;n de personal que ejecuta mediciones de espesor se soporta en:</p>

<ul>
	<li style="text-align: justify;">P C4-01 Procedimiento para la evaluaci&oacute;n de la Conformidad de productos, servicios y personal calificado.Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado del <em>RCB</em>.</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades</li>
	<li style="text-align: justify;">Cap&iacute;tulo 2.1 Servicios de mediciones de espesor</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.8 Personal que ejecuta mediciones de espesor</li>
</ul>

<p style="text-align: justify;">El esquema establecido por el <em>RCB</em> para la homologaci&oacute;n de este personal incluye valoraci&oacute;n de experiencia, amplios conocimientos te&oacute;ricos y destreza pr&aacute;ctica, adem&aacute;s de poseer conocimientos b&aacute;sicos del objeto en cuesti&oacute;n (embarcaciones, calderas, medios de izado y otros).</p>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em><strong>&nbsp; recomienda previo a la contrataci&oacute;n de personal que ejecuta mediciones de espesor homologados revisar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La vigencia del Certificado de Homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
	<li style="text-align: justify;"><strong>Los equipos con que cuenta el personal estar&aacute; acorde y calibrados al espesor aproximado que ser&aacute;n medidos.</strong></li>
</ul>
