<p style="text-align: justify;">La homologaci&oacute;n de soldadores es considerada por el <em>RCB </em>como uno de los elementos b&aacute;sicos en la construcci&oacute;n y reparaci&oacute;n de objetos supervisados por el mismo. Este proceso que comenz&oacute; a partir de exigencias para el mundo mar&iacute;timo, hoy se ha ido adecuando a la industria en general, lo cual ha obligado a realizar en cada caso un an&aacute;lisis de las caracter&iacute;sticas t&eacute;cnicas de los objetos y las exigencias del cliente.</p>

<p style="text-align: justify;">La homologaci&oacute;n de soldadores surge en el <em>RCB </em>casi con su fundaci&oacute;n, y se ha ido desarrollando en correspondencia con las normas internacionales m&aacute;s reconocidas, sin excluir las condiciones y caracter&iacute;sticas de nuestra industria.</p>

<p style="text-align: justify;">La metodolog&iacute;a del <em>RCB</em>&nbsp; para la homologaci&oacute;n de soldadores se soporta fundamentalmente en las siguientes normas y modificaciones de actualizaci&oacute;n emitidas:</p>

<ul>
	<li style="text-align: justify;">UNE EN 287-1:&ldquo;Cualificaci&oacute;n de soldadores para soldeo por fusi&oacute;n. Parte 1. Aceros.</li>
	<li style="text-align: justify;">UNE EN ISO 9606-2 &ldquo;Cualificaci&oacute;n de soldadores. Soldeo por fusi&oacute;n. Parte 2. Aluminio y aleaciones de aluminio&rdquo;</li>
	<li style="text-align: justify;">UNE EN ISO 15609-1 &ldquo;Especificaciones y Cualificaci&oacute;n del procedimiento de soldeo para los materiales met&aacute;licos. Especificaci&oacute;n del procedimiento de soldeo. Parte 1. Soldeo por arco&rdquo;.</li>
	<li style="text-align: justify;">UNE EN ISO 15614-2: &ldquo;Especificaciones y Cualificaci&oacute;n de los procedimiento de soldeo para los materiales met&aacute;licos. Ensayo de procedimientos de soldeo. Parte 2. Soldeo por arco de aluminio y sus aleaciones&rdquo;.</li>
	<li style="text-align: justify;">UNE EN ISO 5817 &ldquo;Soldeo-Uniones soldadas por fusi&oacute;n de aceros, niquel, titanio y sus aleaciones&rdquo; (excluido el soldeo por haz de electrones). Niveles de calidad para las imperfecciones.</li>
	<li style="text-align: justify;">&ldquo;Reglas para la Construcci&oacute;n y Clasificaci&oacute;n de Buques Mar&iacute;timos. Cap&iacute;tulo 14 Soldadura.</li>
	<li style="text-align: justify;">Los siguientes cap&iacute;tulos del &ldquo;Manual para la Aprobaci&oacute;n de Productos, Servicios y Personal Calificado&ldquo; del <em>RCB</em>:</li>
	<li style="text-align: justify;">Cap&iacute;tulo 1.1 Generalidades</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.4 Soldadores en acero</li>
	<li style="text-align: justify;">Cap&iacute;tulo 5.1 Buzos Soldadores</li>
</ul>

<p style="text-align: justify;">La evaluaci&oacute;n de soldadores por el <em>RCB </em>es hoy un servicio ampliamente difundido, cont&aacute;ndose con un amplio grupo de soldadores debidamente homologados.</p>

<p style="text-align: justify;"><strong>El </strong><em>RCB</em><strong>&nbsp; recomienda previo a la contrataci&oacute;n de soldadores homologados revisar:</strong></p>

<ul>
	<li style="text-align: justify;"><strong>La vigencia del Certificado de homologaci&oacute;n, la que por lo general es de tres a&ntilde;os.</strong></li>
	<li style="text-align: justify;"><strong>El rango de homologaci&oacute;n para el cual el soldador queda homologado (posiciones, espesor, tipos de materiales de aporte y otros).</strong></li>
</ul>
