<h1>Introducci&oacute;n</h1>

<p>La evaluaci&oacute;n de la conformidad es la actividad relacionada con la determinaci&oacute;n directa o indirecta del cumplimiento de determinados requisitos. No est&aacute; dirigida a Entidades o Instituciones, sino que es aplicable a productos, servicios, procesos y personal calificado; y abarca los aspectos t&eacute;cnico &ndash; organizativos vinculados a los mismos, que tienen alguna influencia sobre su calidad.<br />
La Homologaci&oacute;n es el reconocimiento formal y documentado que otorga el RCB a un producto, servicio o personal calificado que cumpla de forma integral con los requisitos de &eacute;ste. La Homologaci&oacute;n es una variante de la Aprobaci&oacute;n, aplicado al &aacute;mbito del&nbsp; RCB como Sociedad Clasificadora.<br />
El criterio que se emplea para la evaluaci&oacute;n de la conformidad es compatible con normas internacionales, por lo que un producto o servicio homologado o aprobado debe, con mayor facilidad que otros, adaptarse a las exigencias del mercado internacional.<br />
Los requisitos y procedimientos generales para la evaluaci&oacute;n de la conformidad referentes a productos y servicios se realizan de acuerdo al P C4-01 &ldquo;Procedimiento para la Evaluaci&oacute;n de la Conformidad de Productos, Servicios y Personal Calificado&rdquo;. A partir de este documento rector se elaboran los Cap&iacute;tulos pertenecientes al Manual de Aprobaci&oacute;n de Productos, Servicios y Personal Calificado (MAPS) que establecen las instrucciones espec&iacute;ficas del proceso de evaluaci&oacute;n de la conformidad de productos, servicios y personal calificado, los requisitos espec&iacute;ficos, los criterios de aceptaci&oacute;n y el otorgamiento del Certificado entre otros, realizados por el RCB.<br />
A los efectos de garantizar el seguimiento y supervisi&oacute;n del objeto despu&eacute;s de homologado cuando proceda, el RCB planifica una serie de controles que tienen las siguientes caracter&iacute;sticas:</p>

<ul>
	<li>Cada producto o servicio homologado o aprobado requiere de confirmaciones anuales durante el per&iacute;odo de vigencia del certificado seg&uacute;n las exigencias del RCB</li>
	<li>La frecuencia de las inspecciones peri&oacute;dicas no deber&aacute; exceder los per&iacute;odos establecidos y podr&aacute;n ser realizadas incluso de forma sorpresiva.</li>
	<li>Los productos o servicios homologados adem&aacute;s, no podr&aacute;n ser modificados sin la aprobaci&oacute;n previa del RCB</li>
	<li>Cualquier no conformidad detectada en inspecciones de seguimiento, o procedente de otras fuentes (quejas, reclamaciones u otras), implicar&aacute; un an&aacute;lisis por el RCB para determinar la vigencia o cancelaci&oacute;n del Certificado.</li>
	<li>Cada personal homologado puede mantener la vigencia de su Certificado, demostrando en su trabajo diario la preparaci&oacute;n y habilidad mostrada al RCB en su proceso de homologaci&oacute;n o aprobaci&oacute;n as&iacute; como en las confirmaciones anuales para el RCB.</li>
</ul>

<p><br />
<strong>A su vez el presente documento contempla el registro de la certificaci&oacute;n de los Medios de Izado amparados en la Resoluci&oacute;n del MITRANS 293/2014 &quot;REGLAMENTO PARA LA EXPLOTACI&Oacute;N DE MEDIOS DE IZADO&quot;</strong></p>
