<h1>Uso de la homologaci&oacute;n</h1>

<p style="text-align: justify;">La Homologaci&oacute;n de productos, servicios y personal calificado en la rama naval, ferroviaria y automotor, as&iacute; como la certificaci&oacute;n de Medios de Izado constituye una exigencia del Ministerio de Transporte y de otros Organismos de la Administraci&oacute;n Central del Estado de la Rep&uacute;blica de Cuba, lo cual se encuentra estipulado de forma general en las siguientes resoluciones:</p>

<ul>
	<li>P C4-01 Procedimiento para la Evaluaci&oacute;n de Productos, Servicios y Personal Calificado.</li>
	<li>Manual de Aprobaci&oacute;n de Productos, Servicios y Personal Calificado (MAPS).</li>
	<li>Resoluci&oacute;n 90/92 MITRANS. Homologaci&oacute;n de productos y servicios.</li>
	<li>Resoluci&oacute;n 134/92 MITRANS. Homologaci&oacute;n de servicios a medios contraincendios.</li>
	<li>Resoluci&oacute;n 293/14 MITRANS Reglamento para la explotaci&oacute;n de medios de izado</li>
	<li>Resoluci&oacute;n 109/02 MITRANS. Sistema de aprobaci&oacute;n de productos y servicios relacionados con el transporte.</li>
	<li>Resoluci&oacute;n 231 del MINCEX Regulaciones T&eacute;cnicas para la Importaci&oacute;n del Productos.</li>
	<li>Resoluci&oacute;n 52/05 &Oacute;rgano de Inspecci&oacute;n.</li>
	<li>Resoluci&oacute;n 307/04 Autoridad Nacional Competente.</li>
	<li>Resoluci&oacute;n 216/09 Reglamento para la seguridad de la explotacion de las instalaciones portuarias, obras hidrotecnicas, fondeaderos y canales de acceso.</li>
	<li>Convenio 152 de la OIT-1984 &Oacute;rganizaci&oacute;n &nbsp;Internacional del Trabajo.</li>
	<li>I C4-01 Para supervisi&oacute;n&nbsp; t&eacute;cnica y ex&aacute;menes a contenedores en explotaci&oacute;n y reparaci&oacute;n.</li>
	<li>I C4-02 Para la supervisi&oacute;n t&eacute;cnica de la construcci&oacute;n de contenedores.</li>
	<li>I C4-03 Para la realizaci&oacute;n de inspecciones a medios de izado terrestres.</li>
	<li>I C4-04 Para las Inspecciones T&eacute;cnicas a Dispositivos Auxiliares de Carga.</li>
</ul>

<p style="text-align: justify;">Los productos o servicios deber&aacute;n adem&aacute;s, seg&uacute;n corresponda, cumplir todas las exigencias expl&iacute;citas de los Convenios de la Organizaci&oacute;n Mar&iacute;tima Internacional (OMI) y la Organizaci&oacute;n Internacional del Trabajo (OIT), de la cual el pa&iacute;s es signatario.</p>

<p style="text-align: justify;">Los productos y servicios homologados ser&aacute;n aceptados por el inspector del <em>RCB</em> para su uso en las actividades mar&iacute;tima, automotor y ferroviario y aquellos que no est&eacute;n debidamente evaluados, ser&aacute;n objeto de una rigurosa supervisi&oacute;n t&eacute;cnica.</p>

<p style="text-align: justify;">Los inspectores del <em>RCB</em> y sus clientes, deber&aacute;n cerciorarse que los Certificados de Homologaci&oacute;n y de Seguridad T&eacute;cnica se encuentren vigentes, de lo contrario estos productos, servicios o medios de izados deber&aacute;n ser reinspeccionados seg&uacute;n corresponda.</p>

<p style="text-align: justify;">Los resultados de los ensayos de los laboratorios en servicios homologados por el <em>RCB</em> ser&aacute;n reconocidos por todos sus inspectores y no requerir&aacute;n de la presencia f&iacute;sica de estos durante su ejecuci&oacute;n.</p>

<p style="text-align: justify;">Los usuarios del anuario, al solicitar los servicios de las personas, productos o prestaci&oacute;n de servicios de las entidades registradas, pedir&aacute;n la presentaci&oacute;n del certificado de Homologaci&oacute;n y/o Seguridad T&eacute;cnica emitido por el <em>RCB</em> para verificar las condiciones de emisi&oacute;n.</p>
