<p style="text-align: justify;">La vigencia de los Certificados de Homologaci&oacute;n y de Seguridad T&eacute;cnica es por lo general de tres a&ntilde;os y en caso de excepcional estabilidad de la calidad en un producto o servicio, se otorgar&aacute; por tres a&ntilde;os y estar&aacute; condicionada a lo establecido al dorso de cada Certificado.</p>

<p style="text-align: justify;">La renovaci&oacute;n del Certificado siempre requerir&aacute; de inspecciones del <em>RCB</em>&nbsp; mediante la solicitud previa del Cliente.</p>

<p style="text-align: justify;">El certificado de Homologaci&oacute;n o Aprobaci&oacute;n emitido a personas, servicios y productos solo tiene validez en la entidad donde se emite el mismo, ya que el certificado ampara las caracter&iacute;sticas propias del proceso productivo de la entidad.</p>
